<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AbuEhab.LowyersSystem.DataLaye.Properties.Settings.CurtDataConnectionString"
            connectionString="Data Source=AymanSultan-pc\SQLEXPRESS;Initial Catalog=CurtData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>